@import url("../variables/variables.css");

body {
  background-color: var(--bs-light);
  font-family: var(--bs-font-sans-serif);
  margin-left: var(--bs-container-left);
  margin-right: var(--bs-container-right);
}

h1 {
  color: var(--bs-success);
}
p {
  color: var(--bs-danger);
}

button {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
  border-radius: var(--bs-border-radius);
  padding: var(--bs-padding);
  border: var(--bs-border-none);
  &:hover {
    background-color: var(--bs-danger);
    color: var(--bs-light);
    border-radius: var(--bs-border-radius);
  }
}



#btn-2 {
  background-color: var(--bs-secondary);

  &:hover {
    background-color: var(--bs-grey);
    color: var(--bs-light);
    border-radius: var(--bs-border-radius);
  }
}
