:root {
    --bs-primary: #ff6f61; 
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-danger: #f94d4d;
    --bs-light: #f2ecec;
    --bs-grey:#a09999;
    --bs-font-sans-serif: 'Roboto', sans-serif;
    --bs-container-left: 10%;
    --bs-container-right: 10%; 
    --bs-border-none: none;
    --bs-border-radius: .5rem;
    --bs-padding: .7rem;
    --bs-font-size-1: 10px; 
    --bs-font-size-2: 20px; 
    --bs-font-size-3: 30px; 
    --bs-font-size-4: 40px; 
}
 